:root {
	/* Colors */
	--clr-primary-blue: hsl(215, 51%, 70%);
	--clr-primary-cyan: hsl(178, 100%, 50%);

	--clr-dark-line: hsl(215, 32%, 27%);
	--clr-dark-card: hsl(216, 50%, 16%);
	--clr-dark-bg: hsl(217, 54%, 11%);

	--clr-white: hsl(0, 0%, 100%);

	/* Typography */
	--ff-primary: 'Outfit', sans-serif;

	--fs-main: 18px;

	--fw-bold: 600;
	--fw-regular: 400;
	--fw-light: 300;
}

/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* 2. Remove default margin */
* {
	margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	/* 4. Add accessible line-height */
	line-height: 1.5;
	/* 5. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

/* General Styling */

body {
	background-color: var(--clr-dark-bg);
	font-family: var(--ff-primary);
	font-size: var(--fs-main);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0 1.5rem;
}

.card {
	background-color: var(--clr-dark-card);
	padding: 1.5rem;
	border-radius: 1rem;
	max-width: 350px;
	max-height: 596px;
}

.card__img {
	border-radius: 1rem;
	margin-bottom: 1.2rem;
}

.card__title {
	color: var(--clr-white);
	font-weight: var(--fw-bold);
	margin-bottom: 0.75rem;
}

.card__description {
	color: var(--clr-primary-blue);
	font-weight: var(--fw-light);
	margin-bottom: 0.75rem;
}

.card__details {
	display: flex;
	align-items: center;
	font-size: 1rem;
	padding-bottom: 0.85rem;
	border-bottom: 1px solid var(--clr-dark-line);
	margin-bottom: 1rem;
}

.card__details-icon {
	margin-right: 0.4rem;
	height: 1.2rem;
}

.card__details-price {
	color: var(--clr-primary-cyan);
	margin-right: 4.7rem;
	font-weight: var(--fw-bold);
}

.card__details-time {
	color: var(--clr-primary-blue);
	font-weight: var(--fw-light);
}

.card__footer {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.card__footer-img {
	border: solid 1px var(--clr-white);
	border-radius: 100%;
	height: 2rem;
}

.card__footer-text {
	color: var(--clr-primary-blue);
	font-size: 1rem;
}

.card__footer-author {
	color: var(--clr-white);
	font-weight: var(--fw-light);
	margin-left: 0.1rem;
}
